<a href="https://colab.research.google.com/github/amritashaji06-cmd/ict_assignments/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def maximum(a,b,c):
  if a>b and a>c:
    print(a, 'is maximum')
  elif b>a and b>c:
    print(b, 'is maximum')
  else:
    print(c, 'is maximum')

a=int(input('enter first number: '))
b=int(input('enter second number: '))
c=int(input('enter third number: '))
maximum(a,b,c)

enter first number: 76
enter second number: 77
enter third number: 909
909 is maximum

In [2]:
list=[18,12,30,10,7]
sum(list)

77

In [3]:
list=[10,20,30,50]
list.insert(3,40)
list

[10, 20, 30, 40, 50]

In [4]:
sample_dict={"name":"kelly","age":25,"salary":8000,"city":"new york"}
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}

In [6]:
sample_dict= {
  'emp1':{'name':'john','salary':7500},
  'emp2':{'name':'ema','salary':8000},
  'emp3':{'name':'brad','salary':500},
}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'john', 'salary': 7500},
 'emp2': {'name': 'ema', 'salary': 8000},
 'emp3': {'name': 'brad', 'salary': 8500}}

In [11]:
tuple1 = (11,22,33,44,55,66)
new_tuple = tuple1[3:5]
print(new_tuple)

(44, 55)

In [12]:
tuple1 = (50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3