<a href="https://colab.research.google.com/github/amritashaji06-cmd/ict_assignments/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
item1price = 45
item1quantity  = 3
item2price = 30
item2quantity = 2
total = item1price * item1quantity + item2price * item2quantity
print('Total bill :', total)

Total bill : 195

In [8]:
Entertemperatureincelsius = 30
c = 30
F = (c *9/5)+32
print('Temperature in fahrenheit :',F)

Temperature in fahrenheit : 86.0

In [10]:
enterbasicsalary = 20000
total = enterbasicsalary + enterbasicsalary * 20/100 + enterbasicsalary * 10/100
print('Net salary :',total)

Net salary : 26000.0

In [12]:
'''principal : 10000
Rateofinterest : 5
Time (in years) : 2'''
P = 10000
R = 5
T = 2
SI = (P * R * T)/100
print('simple interest',SI)

simple interest 1000.0

In [21]:
'''Enter total minutes : 130'''
total_minutes = 130
hours = total_minutes // 60
minutes = total_minutes % 60
print(hours,'hours and',minutes,'Minutes')

2 hours and 10 Minutes

In [13]:
#BMI = weight(kg) / (height(m) * height (m))
weight = 60
height = 1.65
bmi = weight / (height * height)
print('BMI',bmi)

BMI 22.03856749311295

In [15]:
#Original prie :1200
price = 1200
discount = price - price * 10/100
print('Discounted price :',discount)

Discounted price : 1080.0

In [16]:
''' 5 = (a+b+c) / 2
Area = sqrt(s * (s - a)(s - b)(s - c))'''
a = 5
b = 6
c = 7
s = (a+b+c)/2
import math
area =math.sqrt (s*(s-a)*(s-b)*(s-c))
print('Area of the triangle',area)

Area of the triangle 14.696938456699069

In [17]:
'''wall length : 12
wall height : 8'''
area = (12 * 8) - (2* (1.5 * 1.2))
cost = area * 25
print('Total area of painted :',area)
print('Total painting:',cost)

Total area of painted : 92.4
Total painting: 2310.0

In [18]:
'''enter number of unit condsumed : 250'''
units = 250
bill = (units *5.2 ) + 100
print('Eletricity bill :',bill)

Eletricity bill : 1400.0